{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "overrides": [
    {
      "files": ["test/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {"jest/prefer-expect-assertions": "off", "max-nested-callbacks": "off"}
    }
  ],
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ]
}
